body{
    background-color:#FFF0F5;
    margin: 0;
    padding: 0;
}

.titulo{
color:aliceblue;
 text-align: center;
 font-size: 24px;
 
}
.navbar{
   background-color: #875be0;
   padding: 10px;
   width: 100%;
   margin-top: 0% 0 0 ;
}
h1{
    font-size: 20px;
    color: #875be0;
    text-align: center;
}
.datos {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px
}

h3{
    font-size: 18px; 
    color: #565555; 
    font-weight: normal; 
    margin-top: 10px; 
}

.hobbies{
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px
}

.contenedor img {
    width: 100%; 
    height: auto;
    max-width: 100%; 
    max-height: 300px; 
}

.serie{
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px
}

h4{
    text-align: justify;
    color: #363535; 
    font-weight: normal; 
}

.imagen{
    width: 50%; 
    height: auto;
    max-width: 50%; 
    max-height: 300px; 
    display: block;
    margin: 0 auto;
    border-radius: 7px;
}

.subtitulos{
    text-align: center;
    color: rgb(231, 83, 174);

}